body{
	overflow: hidden;
}

.card {
	margin: 0 auto; 
	float: none; 
	margin-bottom: 10px; 
}

.fondo{
	height: 100vh;
	width: 100%;
	background-image: linear-gradient(white, black);
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color: coral;}